<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    /*内容1:for循环*/
    for (var i = 0;i<10;i++){
        document.write(i +'<br/>');
    }
    /*内容2:for in循环*/
    var person = {name:'john',age:27};
    for (var x in person){
        document.write(x +':' +person[x]+'<br/>');
    }
    /*内容3：while*/
    var x = 0;
    while (x <3){
        x ++;
    }
    document.write(x +'<br/>');
    /*内容4：do while*/
    var x = 0;
    do{
        x ++;
    }while (x <3);
    document.write(x +'<br/>');
</script>
</body>
</html>