<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    /*内容1：typeof使用*/
    document.write(typeof 1  +'<br/>');
    document.write(typeof '12345'  +'<br/>');
    document.write(typeof null  +'<br/>'); //object
    document.write(typeof undefined  +'<br/>');//undefined
    document.write(typeof [1,2,3,4,5]  +'<br/>');
    document.write(typeof {name:'john'}  +'<br/>');

    document.write((null == undefined) +'<br/>');//true
    document.write((null === undefined) +'<br/>');//false
    var a ;
    document.write(typeof a+'<br/>');//undefined

</script>
</body>
</html>