<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<button onclick="func1('a','123')">点击</button>

<p id = 'content'></p>
</body>
</html>

<script>
    <!--内容1:多参数函数-->
    function func1(var1,var2){
        alert(var1 + var2);
    }

    <!--内容2:return 返回-->
    function func2(var1,var2){
        return var1 + var2;
    }

    document.getElementById("content").innerHTML = func2(1,2);
    var a = 'hello1';//全局变量
    <!--内容3:局部变量-->
    function func2(var1,var2){
//        var a = 'hello'; //函数内部声明过的 变量，有效范围只在函数内部
        a = 'hello'; //主要：不管是不是函数内部未声明过的变量，都是按照全局变量处理
        alert(a);
    }
    document.getElementById("content").innerHTML = a;

    <!--内容4：函数表达式(匿名函数) -->
    var x = function(a,b){return a+b;}
    document.getElementById("content").innerText = x(4,3);

    <!--内容5：函数构造函数-->
    var x = new Function("a","b","return a*b");
    document.getElementById("content").innerText = x(4,3);

    <!--内容6：函数的自我调用-->
    (function(){document.getElementById("content").innerHTML = "自己调用函数";})();

    <!--内容7：内置的Arguments对象-->
    function sumAll(){
        var i,sum = 0;
        for(i = 0;i < arguments.length;i++){
            sum += arguments[i];
            console.log(sum);
        }
        return sum;
    }
    document.getElementById("content").innerText = sumAll(1,2,3,4,5);
</script>

