<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="myForm" action="test25_form" onsubmit="return validata();" method="post">
    输入一个数字：<input type="text" name = "myInput">
    <input type="submit" value="提交">

</form>
<script>
    function validata(){
        var x = document.forms["myForm"]["myInput"].value;
        if(x == null || x == ''){
            return false
        }
        return true;
    }


</script>
</body>
</html>