<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <link rel="shortcut icon" href=" /favicon.ico" />
</head>
<body>


    <h1>标题1</h1>
    <p id = "pid">原段落</p>
    <script>
        /*内容1*/
        //        window.alert(5+7);
        /*内容2*/
        //        document.write('hello JS<br/>');
        //        document.write('hello JS2');
        /*内容3*/
//        document.getElementById("pid").innerHTML = "段落";
        /*内容4*/
//        alert(document);
//        console.log(document);
//        console.log(window);
    </script>
</body>
</html>



